<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title [color]="getListColor()">
      Home sweet home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bonjour {{ name }} vous aurez {{ age + 1 }} ans</h1>
  <p>Vous aimez les {{ fruits[0] }}</p>

  <!-- Formulaire pour la saisie d'un fruit -->
  <ion-item>
    <ion-label position="stacked">Votre fruit</ion-label>
    <!-- ngModel permet de lier la saisie à une variable -->
    <ion-input type="text" [(ngModel)]="inputFruit"></ion-input>
  </ion-item>
  <!-- bouton qui appelle la fonction d'ajout de fruit -->
  <ion-button expand="block" (click)="addFruit()">Ajouter</ion-button>

  <!-- Recherche d'un fruit -->
  <ion-item>
    <ion-input [(ngModel)]="searchFruit" placeholder="recherche"></ion-input>
  </ion-item>

  <ion-list>
    <!-- boucle pour tous les éléments du tableau fruit -->
    <ion-item *ngFor="let item of filterFruits(); let pos=index" [color]="getListColor()">
      {{ item }}

      <ion-icon slot="end" name="trash" (click)="deleteFruit(pos)"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- Le div est affiché quand la variable user est nulle-->
  <div *ngIf="isUserHidden()">
    <h1>Login</h1>
    <ion-button expand="block" (click)="login()"> login </ion-button>
  </div>

  <!-- Le div est masqué (hidden) quand la variable user est nulle -->
  <div [hidden]="isUserHidden()">
    <h3>Vous êtes identifié en tant que {{ user?.name }}</h3>
    <ion-button expand="block" (click)="logout()"> logout </ion-button>
  </div>

</ion-content>